@import './../../common.scss';

.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  @include setFontAndPadding(16px 24px, 0, 0);
  align-items: center;
  background-color: #494949;
  box-shadow: 0 1px 3px $primaryColor;
  .links {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
    font-size: 25px;
    .link {
      text-decoration: none;
      font-weight: bold;
      @include setFontAndPadding(0 3px, 500, #ffffff);
      cursor: pointer;
      &:hover {
        color: #32a007;
        // box-shadow: 0px 0px 8px 4px #237403;
      }
    }
    .active {
      color: $primaryColor;
    }
    .anticon {
      font-size: 35px;
      color: $primaryColor;
      outline: none;
    }
  }
  .shopping-cart-content {
    position: relative;
    cursor: pointer;

    .chosen-items-count {
      position: absolute;
      min-width: 20px;
      right: -5px;
      top: -5px;
      background-color: #ffffff;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-weight: 500;
      color: #494949;
      font-size: 0.8em;
    }
  }
}
